/* * { */
  /* font-family: "Courier New", Courier, monospace; */
  /* font-size: 15px; */
  /* cuando activo el color no coge el footer */
  /* color: rgb(77, 165, 42); */
  /* padding: 10px; */
/* } */

#footer {
  padding: 5px;
    border-width: 10px;
  background: #aaa;
  /* margin: 20px; */
  color: hsl(232, 69%, 6%);

}

/*--------------- color de los links ---------*/
#navegacion{
  background-color:rgb(206, 233, 196) ;
}
a:link {
  color: indigo; /*- color RGB--*/
    text-decoration: none;
}
a:visited {
  color: hsl(348, 83%, 47%); /*- color HSL--*/
}
a:hover {
  color: #f133e7; /*- color Hexsdecimal--*/
}
a:active {
  color: gold;
}
.enlace2{
  text-decoration:underline;
}

/* --------- pelicula filmaffinity ----------------------------------- */
h3{
  background-color: rgb(116, 95, 95);
  color:rgb(248, 245, 56);
}
.film{
  background-color:rgb(219, 207, 207) ;
}

/* ---- stilos de la tabla.  --------- */

.tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;}
.tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#fff;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-az16{background-color:#34cdf9;border-color:#f8a102;text-align:left;vertical-align:top}
.tg .tg-sb6a{border-color:#f8a102;text-align:left;vertical-align:top}
.tg .tg-nmbd{background-color:#f8ff00;border-color:#f8a102;color:#fffe65;text-align:left;vertical-align:top}
.tg .tg-h16d{background-color:#34cdf9;border-color:#f8a102;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-42dv{background-color:#fe0000;border-color:#f56b00;text-align:left;vertical-align:top}

/*-------------------- Formulario-------------------- */

.datospersonales{
  width: 350px;
  margin: 20px;
  background-color:rgb(238, 144, 68) ;
}
.datospersonales1{
  width: 350px;
  margin: 20px;
  background-color:rgb(180, 230, 88) ;
}

form{
  background-color: #d1d396;
  width: 800px;
}